<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diablo.jayson.kicksv1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity android:name=".UI.AttendActivity.MainAttendActivityActivity"></activity>
        <activity android:name=".UI.KickSelect.KickSelectedActivity" />
        <activity android:name=".UI.KickSelect.KickSeeAllActivity" />
        <activity android:name=".UI.AttendActivity.AlreadyAttendingActivity" />
        <activity
            android:name=".UI.Settings.SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UI.AttendActivity.AttendActivityActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".UI.AddKick.AddKickActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".UI.SignUp.SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <!--
                     The OPENABLE category declares that the returned file is accessible
                     from a content provider that supports OpenableColumns
                     and ContentResolver.openFileDescriptor()
                -->
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.UserProfile.ProfileActivity" />
        <activity android:name=".UI.Search.SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".UI.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/splashScreenTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.diablo.jayson.kicksv1.UI.Search.SearchableActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.diablo.jayson.kicksv1.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZpABPdx-Wy7PqLOhsuhZYfcEQvwm_XH4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>